openAiAuthKey.txt
*_summaries/**
*_webpages/**
*_summaries
*_webpages
.vscode
.vscode/**
*.png
__pycache__
__pycache__/**
*.txt

*.zip
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
**/.terraform
**/.terraform/*

tabroom_summary/lambda_layer/python/**