
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}

h1 {
    color: #1d5188;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #f9f9fc;
    border-bottom: 2px solid #e1e1f1;
    box-sizing: border-box;
    width: 100%;
}

h2 {
    color: #1d5188;
    margin-bottom: 20px;
}

form {
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

form label {
    display: block;
    margin: 10px 0;
    text-align: left;
    color: #1d5188;
}

input[type="text"] {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

button[type="button"] {
    background-color: #006080;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
    transition: background-color 0.3s;
}

button[type="button"]:hover {
    background-color: #00475b;
}

#responseContainer {
    margin: 20px 0 40px;
    background-color: #fff;
    padding: 20px;
}
